* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: black;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #fff7f6, #f9d5d3);
  color: #333333;
}

.logo {
  width: 120px;
  height: auto;
  margin: 0 auto;
  display: block;
}
#header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: auto;
  padding-top: 20px;
}

.header-image {
  width: 500px;
  height: 500px; /* Maintain aspect ratio */
  border: 5px solid #dd8989;
  border-radius: 15px;
  object-fit:scale-down;
}

.container {
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start;
}

nav img {
  width: 200px;
  height: auto;
}

nav {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  padding: 0;
}

nav ul li a {
  color: #333333;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

/* nav hover effect */
nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #e26d6d;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  color: #333333;
  font-size: 30px;
  flex: 1;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 0;
}

.header-text h1 span {
  color: #e26d6d;
}

section {
  margin-bottom: 100px;
}

/* -----------about--------- */
#about {
  padding: 100px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #e26d6d;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 15px;
  color: rgb(31, 31, 31);
}

.tab-contents ul li span {
  color: #e26d6d;
  font-size: 15px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* <!-- ----------------portfolio--------------- --> */
#portfolio {
  padding: 100px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 1), #e26d6d);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
}

.layer p {
  color: white;
}

.layer a {
  margin-top: 20px;
  color: #e26d6d;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.button {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #e26d6d;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #333333;
  background: transparent;
  transition: background 0.5s;
}

.button:hover {
  background: #d45757;
  color: white;
}

/* ------contact-------- */
.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #e26d6d;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons i {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: black;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons i:hover {
  color: #e26d6d;
  transform: translateY(-5px);
}

.contact-right {
  flex-basis: 60%;
}

.button.resume {
  display: inline-block;
  background: #e26d6d;
  color: white;
}

.button.submit {
  display: inline-block;
  background: #e26d6d;
  color: white;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #f9d5d3;
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}

form .button.submit {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background: #e26d6d;
  transition: background 0.3s;
}

form .button.submit:hover {
  background: #d45757;
}
